{% extends "base.html" %}
{% load static %}
{% block body %}
<div class='container'>
  <!-- Login form  -->
   <form class='w-50 m-auto'>
    <h1 class='text-white mt-5'>Login</h1>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label text-white">Username</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label text-white">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
   
    <div class="d-flex justify-content-end">
    <button type="submit" class="btn btn-dark">Submit</button>
    </div>
  </form>
</div>
 
{% endblock %}