{% extends "base.html" %}
{% load static %}


{% block body %}
<!-- About US Section -->
<form method="get" action="/product">
<div class="section_six manage_width" id="about2">
    <div class="row about_us_section_row">
      <div class="col-lg-6 col-md-12 col-sm-12 col-12 mt-3 about_us_section_col">
        <div class="d-flex gap-3 align-items-center">
          <div class="side_rectangle"></div>
          <h2 class="heading_main">About Us</h2>
        </div>
        <div class="about_us_section">
          <p>
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto dolores vitae asperiores perspiciatis iure explicabo dolore? Nihil adipisci impedit, Corporis reprehenderit ut blanditiis dignissimos voluptatum. Amet consequuntur pariatur culpa?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias obcaecati ex vel atque vero, eum libero? Vero, quae iusto. Suscipit unde qui earum. Quae veniam porro rem a totam magnam?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum aperiam fugit eos laborum quae nihil tempora tempore, vitae illo minus omnis. Dignissimos eius veritatis fuga tempora officiis! Sint, vero. Tempore.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum eaque sit animi laboriosam, odit eligendi  ipsum quod in facere tenetur. Molestiae, quas nam.
          </p>
        </div>
       
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 col-12 mt-3">
        <img src="{% static 'assets/images/image 11.png' %} " alt="" class=" about_us_image" />
      </div>
    </div>
  </div>

 
</div>
{% endblock %}
