{% extends "base.html" %}
{% load static %}


{% block body %}
<!-- About US Section -->
<form method="get" action="/product">
<div class="section_six manage_width" id="about2">
    <div class="row about_us_section_row">
      <div class="col-lg-6 col-md-12 col-sm-12 col-12 mt-3 about_us_section_col">
        <div class="d-flex gap-3 align-items-center">
          <div class="side_rectangle"></div>
          <h2 class="heading_main">About Us</h2>
        </div>
        <div class="about_us_section text-white" >
          <p>
            At Seafood Sell, we are passionate about bringing the freshest and finest seafood from the ocean to your table. Based in the heart of London, our mission is to provide our customers with high-quality, sustainably sourced seafood that delights the palate and supports a healthy lifestyle.
          </p>
          <p>
            Our Story
            <br>
            Founded in 2023, Seafood Sell has quickly become a trusted name in the seafood industry. Our journey began with a simple idea: to offer Londoners access to the best seafood available, sourced responsibly and delivered with exceptional service. Over the years, we have built strong relationships with local fishermen and international suppliers, ensuring that our seafood is always fresh, flavorful, and ethically sourced.
          </p>
          <p>
            Our Commitment
            <ul>
              <li class="text-white">
                Quality: We believe that great seafood starts with great quality. That’s why we meticulously select our products, ensuring they meet the highest standards of freshness and taste.
              </li>
              <li class="text-white">
                Sustainability: We are committed to sustainable fishing practices. By partnering with suppliers who share our values, we ensure that our seafood is sourced in a way that protects marine ecosystems and supports the livelihoods of fishing communities.
              </li>
              <li class="text-white">
                Customer Satisfaction: Your satisfaction is our top priority. From the moment you place your order to the time it arrives at your door, we strive to provide a seamless and enjoyable experience.
              </li>
            </ul>
          </p>
        </div>
        <div class="text-white">
          Get in Touch
          We would love to hear from you! Whether you have a question about our products, need cooking tips, or want to share your feedback, our friendly team is here to help.
        </div>
        <br>
        <br>
        <div class="text-white">
        Contact Us: <br>
        Email: info@seafoodsell.com <br>
        Phone: +44 20 1234 5678 <br>
        Address: 123 Ocean Avenue, London, UK
        </div>    
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 col-12 mt-3">
        <img src="{% static 'images/manwithfood.webp' %} " alt="" class=" about_us_image" />
      </div>
    </div>
  </div>
{% endblock %}
