{% extends "base.html" %}
{% block body %}
<style>
  
    .card h1 {
      color: red;
      font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
      font-weight: 900;
      font-size: 40px;
      margin-bottom: 10px;
    }
   .card p {
      color: #404F5E;
      font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
      font-size:20px;
      margin: 0;
    }
  .card i {
    color: red;
    font-size: 100px;
    line-height: 200px;
    margin-left:-15px;
  }
  .card {
    background: white;
    padding: 60px;
    border-radius: 4px;
    box-shadow: 0 2px 3px #C8D0D8;
    display: inline-block;
    margin: 0 auto;
  }
</style>
<div class='d-flex ' style='margin-top:116px;'>
<div class="card m-auto">
  <div class='d-flex' style="border-radius:200px; height:200px; width:200px; background: #faf5f5; margin:0 auto;">
    <i class="bi bi-exclamation m-auto" ></i>
  </div>
  <div class="text-center">

    <h1>Error</h1> 
    <h2> Your payment failed </h2>
    <p>  Try again later </p> 
  </div>
</div>
</div>
{% endblock body %}