{% load static %}
<div class="section_seven manage_width" id="contact">
  <div class="container-fluid manage_container">
    <!-- Contact Us Section  -->
    <div class="contact_us_section">
      <h5>Contact Us</h5>
      <p>
        Send us an email if you require any assistance and a member of our
        dedicated team will be in touch within 24 hours.
      </p>
      <div class="user_email_div">
        <img src="{% static 'images/image 12.svg' %}" alt="" />
        <a href="mailto: Info@seafood-sell.com">Info@seafood-sell.com</a>
      </div>
    </div>
    <!-- Contact Us Bar  -->
    <div class="contact_us_bar">
      <div class="container-fluid p-0">
        <div class="row">
          <div class="col-lg-4 col-md-12 col-sm-12 col-12 footer_columImg">
            <div>
              
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 col-12 footer_colum">
            <div class="contact_bar_div">
              <a href="/">Home</a>
              <a href="/aboutus" data-scroll="about">About Us</a>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 col-12 footer_colum_icon">
            <div class="social_icon">
              <!-- there'll be social icons -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
