{% load static %}
<div class="section_seven manage_width" id="contact">
  <div class="container-fluid manage_container">
    <!-- Contact Us Section  -->
    <div class="contact_us_section">
      <h5>Contact Us</h5>
      <p>
        Send us an email if you require any assistance and a member of our
        dedicated team will be in touch within 24 hours.
      </p>
      <div class="user_email_div">
        <img src="{% static 'assets/images/image 12.svg' %}" alt="" />
        <a href="#">Info@seafood-sell.com</a>
      </div>
    </div>
    <!-- Contact Us Bar  -->
    <div class="contact_us_bar">
      <div class='container-fluid p-0'>
        <div class="row">
          <div class="col-lg-4 col-md-12 col-sm-12 col-12 footer_columImg">
            <div>
              <a href="/">
                <img src="{% static " assets/images/Logo contact.svg" %}" alt="" />
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 col-12 footer_colum">
            <div class="contact_bar_div">
              <a href="/">Home</a>
              <a href="#" data-scroll="about">About Us</a>
              <a href="/faqs">FAQs</a>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 col-12 footer_colum_icon">
            <div class="social_icon">
              <a href="" class="icon_div">
                <i class="bx bxl-facebook"></i>
              </a>
              <a href=" " class="icon_div">
                <i class="bx bxl-instagram"></i>
              </a>
              <a href=" " class="icon_div">
                <i class="bx bxl-tiktok"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
